apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
  namespace: node-react-rbac
type: Opaque
stringData:
  MONGODB_URI: "mongodb+srv://surnaganesh123:GNI4rjFTTHIznyo2@cluster0.vqqhoi4.mongodb.net/react_node_rbac?retryWrites=true&w=majority&appName=Cluster0"
  JWT_SECRET: "your_super_secret_jwt_key_change_this_in_production"

